html,body,#root{height:100%;margin:0;padding:0}::-webkit-scrollbar{width:0px;background:transparent}.line-clamp-4{display:-webkit-box;-webkit-line-clamp:4;-webkit-box-orient:vertical;overflow:hidden}
